@use "styles/mixin";
@use "styles/breakpoints";

.component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.navContainer {
  @include mixin.maxWidth(674px);
  margin-right: 250px;
  display: flex;
  justify-content: space-between;
}

.logo {
  @include mixin.media-w(breakpoints.$laptop) {
    width: 96px;
  }
}
