@use "styles/mixin";
@use "styles/breakpoints";

.component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;

  @include mixin.media-w(breakpoints.$laptop-m) {
    padding: 20px 50px;
  }

  @include mixin.media-w(breakpoints.$laptop-s) {
    padding: 20px;
  }
}

.navContainer {
  @include mixin.maxWidth(674px);
  margin-right: 150px;
  display: flex;
  justify-content: space-between;

  @include mixin.media-w(breakpoints.$laptop-l) {
    margin-right: 80px;
  }
}