@use "styles/mixin";
@use "styles/breakpoints";

.component {
  margin-top: 144px;
  padding: 0 90px;
  display: flex;
  flex-direction: column;
  gap: 80px;

  @include mixin.media-w(breakpoints.$laptop) {
    padding: 0 52px;
    margin-top: 52px;
    gap: 28px;
  }
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.teamCard {
  display: flex;
  justify-content: space-between;
}

.teamTitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 44px;
  width: 49%;

  @include mixin.media-w(breakpoints.$laptop) {
    gap: 16px;
  }
}

.imageWrapper {
  width: 41%;
  position: relative;
  padding-top: calc(546 / 598 * 50%);
}

.image {
  object-fit: cover;
  border-radius: 30px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include mixin.media-w(breakpoints.$laptop) {
    gap: 16px;
  }
}
