.component {
  margin-top: 144px;
  padding: 0 90px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.teamCard {
  display: flex;
  gap: 9.8%;
}

.teamTitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 44px;
}

.image {
  border-radius: 30px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
