@use "styles/mixin";
@use "styles/breakpoints";

.component {
  background-color: var(--bgWhite);
  border-radius: 40px;
  margin-top: 144px;
  padding: 90px 154px;
  display: flex;
  justify-content: center;

  @include mixin.media-w(breakpoints.$laptop) {
    padding: 40px 154px;
    margin-top: 52px;
    border-radius: 20px;
  }

  @include mixin.media-w(breakpoints.$laptop-m) {
    padding: 28px 48px;
    margin-top: 60px;
    border-radius: 0;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    padding: 28px 40px;
  }
}

.contentWrapper {
  @include mixin.maxWidth(1068px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @include mixin.media-w(breakpoints.$laptop) {
    gap: 20px;
  }
}

.title {
  color: var(--bgBlack) !important;
  @include mixin.fluidFont(18, 50, 1920);
  font-weight: 600;
  text-align: center;
  
  @include mixin.media-w(breakpoints.$laptop) {
    font-size: 36px;
  }
}

.subtitle {
  color: var(--bgBlack);
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  gap: 40px;

  @include mixin.media-w(breakpoints.$laptop) {
    gap: 23px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.inputWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include mixin.media-w(breakpoints.$laptop) {
    gap: 16px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    width: 100%;
    gap: 12px;
  }
}

.textareaWrapper {
  width: 50%;

  @include mixin.media-w(breakpoints.$mobile) {
    width: 100%;
  }
}
