.component {
  display: flex;
  gap: 3px;
  margin-right: 20px;
  align-items: center;
}

.toggleItem {
  font-size: 18px;
  font-weight: 400;
}

.toggleItem:hover {
  text-decoration: underline;
  color: var(--bgWhite);
}

.activeToggleItem {
  font-weight: 700;
  color: var(--bgWhite);
}
