@use "styles/mixin";
@use "styles/breakpoints";

.component {
  margin: 144px 0 68px 0;
  display: flex;
  justify-content: space-between;

  @include mixin.media-w(breakpoints.$laptop) {
    margin: 52px 0 28px 0;
  }

  @include mixin.media-w(breakpoints.$laptop-m) {
    padding: 0 50px;
  }

  @include mixin.media-w(breakpoints.$laptop-s) {
    padding: 0 20px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
}

.footerLogo {
  @include mixin.media-w(breakpoints.$mobile) {
    width: 166px;
    order: 2;
  }
}