@use "styles/mixin";
@use "styles/breakpoints";

.component {
  margin: 144px 0 68px 0;
  display: flex;
  justify-content: space-between;

  @include mixin.media-w(breakpoints.$laptop) {
    margin: 52px 0 28px 0;
  }

  @include mixin.media-w(breakpoints.$laptop-m) {
    padding: 0 50px;
  }

  @include mixin.media-w(breakpoints.$laptop-s) {
    padding: 0 20px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mixin.media-w(breakpoints.$mobile) {
    gap: 40px;
    align-items: center;
  }
}

.footerLogo {
  @include mixin.media-w(breakpoints.$mobile) {
    width: 166px;
    order: 2;
  }
}

.subtitle {
  font-size: 18px;
  font-weight: 300;

  @include mixin.media-w(breakpoints.$laptop) {
    font-size: 16px;
  }
}
