@use "styles/mixin";
@use "styles/breakpoints";

.component {
  margin-top: 144px;
  padding: 0 90px;
  display: flex;
  flex-direction: column;

  @include mixin.media-w(breakpoints.$laptop) {
    padding: 0 52px;
    margin-top: 52px;
  }
}

.title {
  text-align: center;
}

.servicesContainer {
  display: flex;
  justify-content: space-between;
}

.servicesDetailContainer {
  display: flex;
  gap: 13.8%;
}

.servicesTitle {
  @include mixin.fluidFont(4, 22, 1920);
  margin: 80px 0 28px 0;

  @include mixin.media-w(breakpoints.$laptop) {
    margin: 28px 0 16px 0;
  }
}

.imageWrapper {
  width: 41%;
  position: relative;
  padding-top: calc(546 / 598 * 50%);
}

.image {
  object-fit: cover;
  border-radius: 30px;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 80px;

  @include mixin.media-w(breakpoints.$laptop) {
    gap: 16px;
  }
}

.servicesCard {
  display: grid;
  grid-template-columns: 25px auto;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 40px;
  grid-row-gap: 28px;
}

.number {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.subtitle {
  grid-column: 2;
}

.servicesDetailWrapper {
  width: 50%;
}

.servicesSubtitle {
  margin: 30px 0;

  @include mixin.media-w(breakpoints.$laptop) {
    margin: 16px 0;
  }
}
