@use "styles/mixin";
@use "styles/breakpoints";

.component {
  margin-top: 144px;
  padding: 0 90px;
  display: flex;
  flex-direction: column;

  @include mixin.media-w(breakpoints.$laptop) {
    padding: 0 52px;
    margin-top: 52px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    padding: 0 26px;
    margin-top: 60px;
  }
}

.title {
  text-align: center;
}

.servicesContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  @include mixin.media-w(breakpoints.$mobile) {
    flex-direction: column;
    gap: 24px;
  }
}

.servicesDetailContainer {
  display: flex;
  gap: 13.8%;

  @include mixin.media-w(breakpoints.$mobile) {
    flex-direction: column;
    gap: 24px;
  }
}

.listContainer {
  margin: 80px 0 28px 0;

  @include mixin.media-w(breakpoints.$mobile) {
    margin: 28px 0 16px 16px;
  }
}

.mediaContent {
  width: 41%;
}

.imageWrapper {
  width: 41%;
  position: relative;
  padding-top: calc(546 / 598 * 50%);

  @include mixin.media-w(breakpoints.$mobile) {
    width: 100%;
    padding-top: calc(546 / 598 * 100%);
  }
}

.detailImageWrapper {
  width: 100%;
  position: relative;
  padding-top: calc(358 / 546 * 100%);

  @include mixin.media-w(breakpoints.$mobile) {
    padding-top: calc(546 / 598 * 100%);
  }
}

.image {
  object-fit: cover;
  border-radius: 30px;

  @include mixin.media-w(breakpoints.$laptop) {
    border-radius: 16px;
  }
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 80px;

  @include mixin.media-w(breakpoints.$laptop) {
    gap: 16px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    width: 100%;
    gap: 28px;
  }
}

.servicesCard {
  display: grid;
  grid-template-columns: 25px auto;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 40px;
  grid-row-gap: 28px;

  @include mixin.media-w(breakpoints.$laptop) {
    grid-column-gap: 20px;
    grid-row-gap: 16px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

.number {
  @include mixin.fluidFont(4, 22, 1920);
  display: flex;
  align-items: center;

  @include mixin.media-w(breakpoints.$laptop) {
    font-size: 12px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    font-size: 16px;
  }

  @include mixin.media-minW(breakpoints.$desktop) {
    font-size: 22px;
  }
}

.subtitle {
  grid-column: 2;

  @include mixin.media-w(breakpoints.$mobile) {
    grid-column: 1 / 3;
  }
}

.servicesDetailWrapper {
  width: 50%;

  @include mixin.media-w(breakpoints.$mobile) {
    width: 100%;
  }
}

.servicesSubtitle {
  margin: 30px 0;

  @include mixin.media-w(breakpoints.$laptop) {
    margin: 16px 0;
  }
}

.listItem {
  font-weight: 500;
  white-space: nowrap;
  @include mixin.fluidFont(6, 32, 1920);

  @include mixin.media-w(breakpoints.$laptop) {
    font-size: 18px;
  }

  @include mixin.media-minW(breakpoints.$desktop) {
    font-size: 32px;
  }

  @include mixin.media-minW(breakpoints.$mobile) {
    font-size: 16px;
  }
}
