@use "styles/mixin";
@use "styles/breakpoints";

.component {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 102px);

  @include mixin.media-w(breakpoints.$laptop-m) {
    padding: 28px 48px;
  }

  @include mixin.media-w(breakpoints.$laptop-s) {
    justify-content: center;
  }
}

.title {
  margin-bottom: 40px;

  @include mixin.media-w(breakpoints.$laptop) {
    margin-bottom: 20px;
  }
}

.outlineTitle {
  color: var(--bgBlack) !important;
  text-shadow: 
    -2px -2px 0 var(--bgWhite),
    2px -2px 0 var(--bgWhite),
    -2px 2px 0 var(--bgWhite),
    2px 2px 0 var(--bgWhite);

  margin-top: 97px;

  @include mixin.media-w(breakpoints.$laptop) {
    margin-top: 39px;
  }
}

.subtitle {
  margin-bottom: 60px;
  width: 80%;
}

.activeBurgerMenu {
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s ease-in-out;
  z-index: 4;
  width: 100%;
  height: calc(100vh - 102px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inactiveBurgerMenu {
  position: absolute;
  right: -100vw;
}

.activeBurgerShadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.button {
  @include mixin.media-w(breakpoints.$laptop-s) {
    @include mixin.maxWidth(294px);
  }
}
