@use "styles/mixin";
@use "styles/breakpoints";

.component {
  background-color: var(--bgDark);
  padding: 90px;
  margin-top: 144px;
  border-radius: 40px;

  @include mixin.media-w(breakpoints.$laptop) {
    padding: 52px;
    margin-top: 52px;
  }

  @include mixin.media-w(breakpoints.$laptop-m) {
    padding: 28px 48px;
    margin-top: 18px;
    border-radius: 0;
  }
}

.title {
  width: 41%;
  margin-bottom: 80px;

  @include mixin.media-w(breakpoints.$laptop) {
    margin-bottom: 28px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    width: 100%;
    margin: 24px 0 16px 0;
  }
}

.contentWrapper {
  display: flex;
  justify-content: space-between;

  @include mixin.media-w(breakpoints.$mobile) {
    flex-direction: column;
  }
}

.imageWrapper {
  width: 41%;
  position: relative;
  padding-top: calc(546 / 598 * 50%);

  @include mixin.media-w(breakpoints.$mobile) {
    width: 100%;
    padding-top: calc(546 / 598 * 100%);
  }
}

.subtitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 47%;

  @include mixin.media-w(breakpoints.$laptop) {
    width: 51%;
    gap: 16px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    width: 100%;
    gap: 12px;
  }
}

.image {
  object-fit: cover;
  border-radius: 30px;

  @include mixin.media-w(breakpoints.$mobile) {
    border-radius: 16px;
  }
}
