@use "styles/mixin";
@use "styles/breakpoints";

.component {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-style: normal;
  width: 50%;

  @include mixin.media-w(breakpoints.$laptop) {
    gap: 12px;
  }

  @include mixin.media-w(breakpoints.$laptop-m) {
    width: 100%;
    text-align: center;
    align-items: center;
  }
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: var(--bgWhite);
  margin-bottom: 4px;

  @include mixin.media-w(breakpoints.$laptop) {
    font-size: 18px;
    margin-bottom: 8px;
  }
}

.cityTitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--bgWhite);

  @include mixin.media-w(breakpoints.$laptop) {
    font-size: 16px;
  }
}

.wrapper {
  display: flex;
  gap: 30px;

  @include mixin.media-w(breakpoints.$laptop-m) {
    width: 60%;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    flex-direction: column;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  @include mixin.maxWidth(200px);
  gap: 8px;

  @include mixin.media-w(breakpoints.$mobile) {
    width: 100%;
  }
}

.subtitle {
  font-size: 18px;
  font-weight: 300;

  @include mixin.media-w(breakpoints.$laptop) {
    font-size: 16px;
  }
}

.subtitle:hover {
  color: var(--bgWhite);
  transition: 0.2s ease-in;
}
