@use "styles/mixin";
@use "styles/breakpoints";

.container {
  @include mixin.maxWidth(1920px);
  padding: 0 70px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;

  @include mixin.media-w(breakpoints.$laptop) {
    padding: 0 50px;
  }

  @include mixin.media-w(breakpoints.$laptop-s) {
    padding: 0 20px;
  }

  @include mixin.media-w(breakpoints.$laptop-m) {
    padding: 0;
  }
}

.mainContainer {
  @include mixin.maxWidth(1920px);
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  padding: 0 205px;
  
  @include mixin.media-w(breakpoints.$laptop) {
    padding: 0 112px;
  }

  @include mixin.media-w(breakpoints.$laptop-m) {
    padding: 0;
  }
}
