@use "styles/mixin";
@use "styles/breakpoints";

.component {
  margin-top: 144px;
  padding: 0 90px;
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include mixin.media-w(breakpoints.$laptop) {
    padding: 0 35px;
    margin-top: 60px;
    gap: 20px;
  }
}

.title {
  text-align: center;
  margin-bottom: 20px;

  @include mixin.media-w(breakpoints.$laptop) {
    margin-bottom: 8px;
  }
}

.contentItem {
  display: flex;
  justify-content: space-between;

  @include mixin.media-w(breakpoints.$mobile) {
    flex-direction: column;
    gap: 16px;
  }
}

.list {
  width: 15.2%;
}

.contentText {
  width: 66.2%;

  @include mixin.media-w(breakpoints.$mobile) {
    width: 100%;
  }
}

.contentSubtitle {
  margin-bottom: 38px;

  @include mixin.media-w(breakpoints.$laptop) {
    margin-bottom: 16px;
    font-size: 18px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    margin-bottom: 12px;
    font-size: 20px;
  }
}
