@use "styles/mixin";
@use "styles/breakpoints";

.component {
  margin-top: 144px;
  padding: 0 90px;

  @include mixin.media-w(breakpoints.$laptop) {
    padding: 0 35px;
    margin-top: 60px;
  }
}

.title {
  text-align: center;
  margin-bottom: 80px;

  @include mixin.media-w(breakpoints.$laptop) {
    margin-bottom: 28px;
  }
}

.contentWrapper {
  display: grid;
  grid-template-columns: auto 66%;
  grid-row-gap: 60px;

  @include mixin.media-w(breakpoints.$laptop) {
    grid-template-columns: auto 72%;
    grid-row-gap: 20px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    display: flex;
    flex-direction: column;
  }
}

.subtitleWrapper {
  grid-column: 2;
}

.gridSubtitle {
  margin-bottom: 37px;

  @include mixin.media-w(breakpoints.$laptop) {
    margin-bottom: 16px;
    font-size: 18px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    margin-bottom: 12px;
    font-size: 20px;
  }
}
