@use "styles/mixin";

.component {
  width: 66.8%;
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;

  @include mixin.fluidFont(10, 20, 1920);
}
