@use "styles/mixin";
@use "styles/breakpoints";

.component {
  width: 66.8%;
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include mixin.fluidFont(6, 20, 1920);

  @include mixin.media-w(breakpoints.$laptop) {
    font-size: 12px;
  }
}

.burgerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 88px;
  width: 100%;
}

.burgerNav {
  display: flex;
  flex-direction: column;
  gap: 28px;
  font-size: 28px;
  font-weight: 500;
  color: var(--bgWhite);
}

.button {
  @include mixin.maxWidth(294px);
}

.link:hover {
  border-bottom: 2px solid var(--bgWhite);;
  color: var(--bgWhite);
  transition: 0.2s ease-in;
}
