@use "styles/mixin";
@use "styles/breakpoints";

.component {
  background-color: var(--btnGreen);
  border: none;
  color: var(--titleGray);
  font-weight: 500;
  cursor: pointer;
  border-radius: 30px;
  padding: 14px 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  width: fit-content;
  white-space: nowrap;
}

.component:hover {
  background-color: var(--btnHover);
  color: var(--textHover);
  transition: 0.2s ease-in;
}

.sizeM {
  @include mixin.fluidFont(6, 24, 1920);
  
  @include mixin.media-w(breakpoints.$laptop) {
    font-size: 14px;
    padding: 10px 22px;
  }

  @include mixin.media-w(breakpoints.$laptop-s) {
    font-size: 18px;
    padding: 10px 0;
    @include mixin.maxWidth(294px);
    justify-content: center;
  }
}

.sizeS {
  @include mixin.fluidFont(6, 20, 1920);

  @include mixin.media-w(breakpoints.$laptop) {
    font-size: 12px;
    padding: 10px 24px;
  }

  @include mixin.media-w(breakpoints.$laptop-s) {
    font-size: 18px;
    padding: 10px 0;
    @include mixin.maxWidth(294px);
    justify-content: center;
  }
}

.sizeNone {
  padding: 0;
  border-radius: 0;
  background-color: transparent;
}
