@use "styles/mixin";
@use "styles/breakpoints";

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80px;
  display: flex;
  background-color: var(--bgWhite);
  color: var(--fontBlack);
  align-items: center;
  gap: 28%;
  width: 100%;
  z-index: 999;
  border-top: 1px solid var(--btnGreen);
  padding: 0 70px;

  @include mixin.media-w(breakpoints.$laptop) {
    padding: 0 50px;
  }

  @include mixin.media-w(breakpoints.$laptop-s) {
    padding: 0 20px;
  }
}

.button {
  background-color: var(--btnGreen);
  color: var(--titleGray);
  font-weight: 500;
  padding: 14px 30px;
  border: none;
  border-radius: 30px;
  @include mixin.fluidFont(6, 20, 1920);

  @include mixin.media-w(breakpoints.$laptop) {
    font-size: 12px;
    padding: 10px 24px;
  }
}

.button:hover {
  transition: 0.2s ease-in;
  cursor: pointer;
  background-color: var(--btnHover);
  color: var(--textHover);
}

.title {
  @include mixin.media-w(breakpoints.$laptop-l) {
    font-size: 14px;
  }
}
