@use "styles/mixin";
@use "styles/breakpoints";

.component {
  margin-top: 144px;
  padding: 0 90px;
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include mixin.media-w(breakpoints.$laptop) {
    padding: 0 52px;
    margin-top: 52px;
    gap: 30px;
  }

  @include mixin.media-w(breakpoints.$laptop-l) {
    gap: 15px;
  }

  @include mixin.media-w(breakpoints.$laptop-s) {
    padding: 0 50px;
    margin-top: 60px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    padding: 0 26px;
  }
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 697px;
  text-align: center;
  margin: 0 auto;

  @include mixin.media-w(breakpoints.$laptop) {
    width: 80%;
  }

  @include mixin.media-w(breakpoints.$laptop-s) {
    margin-bottom: 48px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    width: 100%;
    padding: 0 9px;
    text-align: start;
  }
}

.subtitle {
  margin: 80px 0 28px 0;

  @include mixin.media-w(breakpoints.$laptop) {
    margin: 28px 0 20px 0;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    width: 100%;
  }
}

.cardsContainer {
  position: relative;
  width: 100%;
  padding: 0 5px;
  height: 500px;

  @include mixin.media-w(breakpoints.$desktop-m) {
    height: 450px;
  }

  @include mixin.media-w(breakpoints.$desktop-s) {
    height: 400px;
  }

  @include mixin.media-w(breakpoints.$laptop) {
    height: 350px;
  }

  @include mixin.media-w(breakpoints.$laptop-l) {
    height: 300px;
    padding: 0;
  }
}

.firstCard {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  border-radius: 30px;
  bottom: 0;
  height: 85%;
  width: 22%;
  background-color: #6A6162;
  z-index: 5;
  left: 60px;

  @include mixin.media-w(breakpoints.$laptop-l) {
    left: 20px;
    width: 47%;
    height: 93%;
    justify-content: center;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    left: 10px;
    width: 49%;
    height: 95%;
  }
}

.secondCard {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  border-radius: 30px;
  bottom: 0;
  height: 90%;
  width: 47%;
  background-color: #4D4948;
  z-index: 4;
  left: 40px;

  @include mixin.media-w(breakpoints.$laptop-l) {
    left: 0px;
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.thirdCard {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  border-radius: 30px;
  bottom: 0;
  height: 95%;
  width: 72%;
  background-color: #383435;
  z-index: 3;
  left: 20px;

  @include mixin.media-w(breakpoints.$laptop-l) {
    left: 20px;
    width: 47%;
    height: 93%;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    left: 10px;
    width: 49%;
    height: 95%;
  }
}

.fourthCard {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  border-radius: 30px;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #232122;
  z-index: 2;

  @include mixin.media-w(breakpoints.$laptop-l) {
    position: relative;
  }
}

.firstContent {
  padding: 24% 25px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include mixin.media-w(breakpoints.$desktop-s) {
    gap: 10px;
  }

  @include mixin.media-w(breakpoints.$laptop) {
    gap: 8px;
    padding: 24% 20px 20px 20px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    gap: 5px;
  }
}

.secondContent {
  width: 50%;
  padding: 15% 25px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include mixin.media-w(breakpoints.$desktop-s) {
    gap: 10px;
  }

  @include mixin.media-w(breakpoints.$laptop) {
    gap: 8px;
    padding: 15% 20px 20px 20px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    gap: 5px;
  }
}

.thirdContent {
  width: 33%;
  padding: 13% 25px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include mixin.media-w(breakpoints.$desktop-s) {
    gap: 10px;
  }
  
  @include mixin.media-w(breakpoints.$laptop) {
    gap: 8px;
    padding: 13% 20px 20px 20px;
  }

  @include mixin.media-w(breakpoints.$laptop-l) {
    padding: 25% 20px 20px 20px;
    width: 100%;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    gap: 5px;
  }
}

.fourthContent {
  width: 27%;
  padding: 11.5% 25px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include mixin.media-w(breakpoints.$desktop-s) {
    gap: 10px;
  }

  @include mixin.media-w(breakpoints.$laptop) {
    gap: 8px;
    padding: 11.5% 20px 20px 20px;
  }

  @include mixin.media-w(breakpoints.$laptop-l) {
    padding: 15% 20px 20px 20px;
    width: 50%;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    gap: 5px;
  }
}

.cardTitle {
  margin-bottom: 30px;
  text-align: center;
  color: var(--bgWhite);
  @include mixin.fluidFont(8, 28, 1920);
  font-weight: 500;

  @include mixin.media-w(breakpoints.$laptop) {
    font-size: 16px;
    margin-bottom: 10px;
  }

  @include mixin.media-w(breakpoints.$laptop-l) {
    margin-bottom: 5px;
  }

  @include mixin.media-minW(breakpoints.$desktop) {
    font-size: 28px;
  }

  @include mixin.media-w(breakpoints.$desktop-s) {
    margin-bottom: 15px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    margin-bottom: 10px;
  }
}

.cardText {
  color: var(--bgWhite);
  @include mixin.fluidFont(8, 18, 1920);
  font-weight: 500;
  text-align: center;

  @include mixin.media-w(breakpoints.$laptop) {
    font-size: 11px;
  }

  @include mixin.media-minW(breakpoints.$desktop) {
    font-size: 18px;
  }
}

.phaseContainer {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.firstPhase {
  position: relative;
  background-color: #6A6162;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  width: 26%;

  @include mixin.media-w(breakpoints.$laptop-l) {
    width: 50%;
    margin-bottom: 20px;
  }
}

.firstPhase::after {
  height: 100%;
  width: 20px;
  background-color: #6A6162;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: -19px;
  clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%);
  z-index: 1;
}

.secondPhase {
  position: relative;
  background-color: #4D4948;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px 15px 50px;
  width: 24%;

  @include mixin.media-w(breakpoints.$laptop-l) {
    width: 50%;
    margin-bottom: 20px;
  }
}

.secondPhase::after {
  height: 100%;
  width: 20px;
  background-color: #4D4948;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: -19px;
  clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%);
  z-index: 1;
}

.thirdPhase {
  position: relative;
  background-color: #383435;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px 15px 50px;
  width: 23%;

  @include mixin.media-w(breakpoints.$laptop-l) {
    width: 50%;
  }
}

.thirdPhase::after {
  height: 100%;
  width: 20px;
  background-color: #383435;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: -19px;
  clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%);
  z-index: 1;
}

.fourthPhase {
  position: relative;
  background-color: #232122;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px 15px 50px;
  width: 27%;

  @include mixin.media-w(breakpoints.$laptop-l) {
    width: 50%;
  }
}

.fourthPhase::after {
  height: 100%;
  width: 20px;
  background-color: #232122;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: -19px;
  clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%);
  z-index: 1;
}

.phaseTitle {
  color: var(--bgWhite);
  @include mixin.fluidFont(8, 28, 1920);
  text-align: center;

  @include mixin.media-w(breakpoints.$laptop) {
    font-size: 16px;
  }

  @include mixin.media-minW(breakpoints.$desktop) {
    font-size: 28px;
  }
}

.firstPhaseBlock {
  display: flex;
  width: 60%;
}

.lastPhaseBlock {
  display: flex;
  width: 60%;
  margin-right: 0;
  margin-left: auto;
}
