@use "styles/mixin";
@use "styles/breakpoints";

.component {
  position: relative;
  display: flex;
  align-items: center;
  height: fit-content;
}

.title {
  padding-left: 27px;
  white-space: nowrap;
  @include mixin.fluidFont(4, 22, 1920);

  @include mixin.media-w(breakpoints.$laptop) {
    font-size: 12px;
    padding-left: 16px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    padding-left: 0;
  }
}

.image {
  position: absolute;

  @include mixin.media-w(breakpoints.$laptop) {
    width: 8px;
    height: 8px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    left: -16px;
  }
}
