@use "styles/mixin";
@use "styles/breakpoints";

.component {
  display: flex;
}

.image {
  width: 4px;
  height: 4px;
  margin: 12px 8px 0 8px;

  @include mixin.media-w(breakpoints.$laptop) {
    margin: 8px 8px 0 8px;
  }
}
