@use "styles/mixin";
@use "styles/breakpoints";

.component {
  color: var(--titleGray);
  @include mixin.fluidFont(6, 42, 1920);
  font-weight: 500;

  @include mixin.media-w(breakpoints.$laptop) {
    font-size: 22px;
  }
}
