@use "styles/mixin";
@use "styles/breakpoints";

.component {
  width: 100%;
  padding: 20px 30px;
  @include mixin.fluidFont(8, 18, 1920);
  border: none;
  background-color: var(--titleGray);
  color: var(--fontBlack);
  border-radius: 30px;

  &::placeholder {
    color: var(--textGray);
  }

  @include mixin.media-w(breakpoints.$laptop) {
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 12px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    font-size: 14px;
    padding: 16px 20px;
    border-radius: 20px;
  }
}
